<div class="container">
  <div class="row">
    <div class="col-4 mx-auto m-4">
      <h3><%= @member.name %></h3>
    </div>

    <div class="mx-auto m-4 pr-5" style="display:flex;">
      <%= form_with model: @member, url:admin_member_path(@member.id), method: :patch do |f| %>
        <%= f.label "会員ステータス" %>
        <%= f.radio_button :is_deleted, :false %>
        <%= f.label :is_deleted, "有効" %>
        <%= f.radio_button :is_deleted, :true %>
        <%= f.label :is_deleted, "退会" %>
        <%= f.submit "変更" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9 px-sm-0 mx-auto mb-5">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>投稿日時</th>
            <th>レシピ名</th>
            <th>コメント数</th>
          </tr>
        </thead>
        <% @recipes.each do |recipe| %>
        <tbody>
          <tr>
            <td><%= recipe.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= link_to admin_recipe_path(recipe) do %><%= recipe.title %><% end %></td>
            <td><%= recipe.comments.count %> 件</td>
          </tr>
        </tbody>
        <% end %>
      </table>

      <%= paginate @recipes, theme: 'bootstrap-5' %>

      <div class="back_btn">
        <%= link_to admin_root_path do %><i class="fas fa-angle-double-left"></i> <span>ユーザー一覧に戻る</span><% end %>
      </div>
    </div>
  </div>
</div>
