<div class="nested-fields text-left">
  <div class="field">
    <!--link_to_add_associationのform_nameで指定した名前。(初期値 : f)-->
    <%= ls.collection_select :list_id, List.order("name_kana"), :id, :name, {prompt: "食材を選択"}, class: 'select_list' %>
    <%= ls.label :quantity, '分量', class: 'ml-3' %>
    <%= ls.text_field :quantity, placeholder: "例3.0", size: "5" %>
    <%= ls.text_field :unit, placeholder: "g", size: "3" %>
    <%= link_to_remove_association "削除", ls, class: 'ml-3', style: "color: #DC143C;" %>
  </div>
</div>
