<div class="nested-fields text-left">
  <div class="field">
    <!--link_to_add_associationのform_nameで指定した名前。(初期値 : f)-->
    <%= f.collection_select :list_id, List.order("name_kana"), :id, :name, {prompt: "選択してください"} %>
    <%= f.label :quantity, '分量', class: 'ml-3' %>
    <%= f.text_field :quantity, placeholder: "1.0", :size => "5" %>
    <%= f.text_field :unit, placeholder: "g", :size => "5" %>
    <%= link_to_remove_association "削除", f, class: 'ml-3', :style=> "color: #DC143C;" %>
  </div>
</div>
