<div class="row justify-content-center">
  <% recipes.each do |recipe| %>
  <div class="recipe_all m-4" style="border:solid; border-color:#e8e8e8">
    <div class="recipe_image">
    <%= link_to recipe_path(recipe.id) do %>
      <%= image_tag recipe.get_image(300, 300), class: "card-img-top img-fluid" %>
    <% end %>
    </div>
    <div style="display:flex;">
      <div class="recipe_title">
        <h4>
          <%= link_to recipe_path(recipe) do %>
            <%= recipe.title %>
          <% end %>
        </h4>
        <%= recipe.member.name %><br>
        <%= recipe.created_at.strftime('%Y/%m/%d') %>
      </div>
      <div id="book_mark_btn_<%= recipe.id %>" style="font-size:36px;">
        <!--BookMark-->
        <%= render 'public/book_marks/book_mark', recipe: recipe %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<script>
  $('.recipe_all').on('mouseenter', function () {
    $(this).css('box-shadow', '0 10px 25px 0 rgba(0, 0, 0, .5)');
  });
  $('.recipe_all').on('mouseleave', function () {
    $(this).css('box-shadow', '');
  });
</script>