<div class="row mt-3  justify-content-center">
  <% recipes.each do |recipe| %>
  <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 mb-4">
    <div class="card border-0 shadow-sm">
      <%= link_to recipe_path(recipe.id) do %>
      <div class="img-wrap">
        <%= image_tag recipe.get_image(200, 200), class: "card-img-top img-fluid" %>
      </div>
      <% end %>
      <div class="card-body">
        <h5 class="card-title" style="display:flex;">
          <div id="book_mark_btn_<%= recipe.id %>">
            <!--BookMark-->
            <%= render 'public/book_marks/book_mark', recipe: recipe %>
          </div>
          <p class="ml-5">
            <%= link_to recipe_path(recipe) do %>
              <%= recipe.title %>
            <% end %>
          </p>
        </h5>
        <p class="card-text">
          <%= recipe.member.name %><br>
          <%= recipe.created_at.strftime('%Y/%m/%d') %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>