<div class="row justify-content-center mb-5">
  <% recipes.each do |recipe| %>
  <div class="card m-2 recipe_all" style="width:9rem; border-radius:20px;">
    <div class="recipe_image">
      <%= link_to recipe_path(recipe.id) do %>
        <%= image_tag recipe.get_image(300, 300), class: "card-img img-fluid", style: "border-radius:20px 20px 0 0;" %>
      <% end %>
    </div>
    <div class="card-body">
      <h6 class="card-title" style="display:flex;">
        <!--BookMark-->
        <div id="book_mark_btn_<%= recipe.id %>" style="font-size:26px;">
          <%= render 'public/book_marks/book_mark', recipe: recipe %>
        </div>
        <div class="recipe-title ml-3">
          <%= link_to recipe_path(recipe) do %>
            <%= recipe.title.truncate(5) %>
          <% end %>
        </div>
      </h6>
      <p class="card-text text-center" style="font-size:12px;">
        <%= recipe.member.name %><br>
        <%= recipe.created_at.strftime('%Y/%m/%d') %>
      </p>
    </div>
  </div>
  <% end %>
</div>

<div class="row">
  <div class="paginate">
    <%= paginate recipes, theme: 'bootstrap-5' %>
  </div>
</div>

<script>
  // cardにカーソルを当てた時のJS
  $('.recipe_all').on('mouseenter', function () {
    $(this).css('box-shadow', '0 10px 25px 0 rgba(0, 0, 0, .5)');
  });
  $('.recipe_all').on('mouseleave', function () {
    $(this).css('box-shadow', '');
  });
</script>