<div class="container">
  <div class="row">
    <div class="mx-auto offset-sm-1">
      <h3 class="m-5">レシピ投稿</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 col-xs-12"  style="background:#F5DEB3; border-radius: 20px;">

      <%= form_with model: @recipe do |f| %>

        <div class="field mt-4 text-center">
          <table class="table table-borderless">
            <tr>
              <td><%= f.label :title, "レシピ名" %></td>
              <td><%= f.text_field :title, autofocus: true, autocomplete: "title" %></td>
            </tr>
            <tr>
              <td><%= f.label :image, "写真" %></td>
              <td><%= f.file_field :image, accept: "image/*" %></td>
            </tr>
            <tr>
              <td><%= f.label :material, "材料" %></td>
              <td>
                <!--フォームを追加する記述-->
                <div id="add_field">
                <%= f.collection_select :list_id, List.all, :id, :ingredient, {prompt: "選択してください", multiple: true}, :class => 'form-control addlist_class', :id => 'list_id' %>
                </div>
                <%= f.button "追加", id: "add_btn"%>
              </td>
            </tr>
            <tr>
              <td><%= f.label :body, "作り方" %></td>
              <td><%= f.text_area :body, autocomplete: "body" %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "投稿" %></td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<script>
  $('#add_btn').on('click', ()=>{
    // 要素をappendで追加し、cloneで複製する
    $("#add_field").append($(".addlist_class").last().clone());
    // ボタンをクリックした時に、画面遷移するのを防ぐ
    return false;
  });
</script>