<div class="container">
  <div class="row">
    <div class="mx-auto offset-sm-1">
      <h3 class="m-5">レシピ投稿</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 col-xs-12"  style="background:#F5DEB3; border-radius: 20px;">

      <%= form_for @recipe do |f| %>
        <div id='tasks'>
          <%= f.label :title, "レシピ名" %></td>
          <%= f.text_field :title, autofocus: true, autocomplete: "title" %>

          <%= f.fields_for :lists do |list| %>
<%= render 'list_fields', f: list %>
<% end %>

<div class="links">
  <%= link_to_add_association '追加', f, :lists, class: 'btn btn-primary', data: { association_insertion_node: '.links', association_insertion_method: 'before' } %>
</div>
<%= render "resipe/list_fields" %>
<div class='nested-fields'>
  <div class="field">
    <%= list.label :material, "材料" %>
    <%= list.collection_select :list_id, List.all, :id, :ingredient, { prompt: "選択してください", multiple: true }, class: 'form-control', id: 'list_id' %>
  </div>
  <%= link_to_remove_association "削除", list, class: 'btn btn-danger' %>
  <% end %>
</div>

      <!--<%#= form_with model: @recipe do |f| %>-->

      <!--  <div class="field mt-4 text-center">-->
      <!--    <table class="table table-borderless">-->
      <!--      <tr>-->
      <!--        <td><%#= f.label :title, "レシピ名" %></td>-->
      <!--        <td><%#= f.text_field :title, autofocus: true, autocomplete: "title" %></td>-->
      <!--      </tr>-->
      <!--      <tr id="add_field">-->
              <!--listから複数選択-->
      <!--        <td><%#= f.label :material, "材料" %></td>-->
      <!--        <td>-->
      <!--          <%#= f.collection_select :list_id, List.all, :id, :ingredient, {prompt: "選択してください", multiple: true}, :class => 'form-control', :id => 'list_id' %>-->
      <!--          <%#= f.button "追加", id: "add_btn"%>-->
      <!--        </td>-->

      <!--      </tr>-->
      <!--      <tr>-->
      <!--        <td><%#= f.label :body, "作り方" %></td>-->
      <!--        <td><%#= f.text_area :body, autocomplete: "body" %></td>-->
      <!--      </tr>-->
      <!--      <tr>-->
      <!--        <td></td>-->
      <!--        <td><%#= f.submit "投稿" %></td>-->
      <!--      </tr>-->
      <!--    </table>-->
      <!--  </div>-->
      <!--<%# end %>-->
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<script>
  $('#add_btn').on('click', ()=>{
    $('#add_field').append('append')
  });
</script>