<div class="container">
  <div class="row">
    <div class="mx-auto offset-sm-1">
      <h3 class="m-5">レシピ投稿</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 col-xs-12"  style="background:#F5DEB3; border-radius: 20px;">

      <%= form_with model: @recipe do |f| %>

        <div class="field mt-4 text-center">
          <table class="table table-borderless">
            <tr>
              <td><%= f.label :title, "レシピ名" %></td>
              <td><%= f.text_field :title, autofocus: true, autocomplete: "title" %></td>
            </tr>
            <tr>
              <td><%= f.label :genre, "ジャンル" %></td>
              <td><%= f.text_field :genre, autocomplete: "genre" %></td>
            </tr>
            <tr>
              <td><%= f.label :image, "写真" %></td>
              <td><%= f.file_field :image, accept: "image/*" %></td>
            </tr>
            <tr>
              <td><%= f.label :material, "材料" %></td>
              <td>
                <!--フォームを追加する記述-->
                <div id="add_field">
                  <div class="addlist_class">
                    <%= f.collection_select :list_id, List.all, :id, :ingredient, {prompt: "選択してください", multiple: true}, :class => 'form-control', :id => 'list_id', name: 'recipe[list_id][]' %>
                    <span class="remove_field">削除</span>
                  </div>
                </div>
                <div style="display: flex;">
                    <%= f.button "＋ 食材を追加", id: "add_btn", style: "border: 1px solid #808080; border-radius: 4px;" %>
                </div>

              </td>
            </tr>
            <tr>
              <td><%= f.label :quantity, "分量" %></td>
              <td><%= f.text_field :quantity, autocomplete: "quantity" %></td>
            </tr>
            <tr>
              <td><%= f.label :body, "作り方" %></td>
              <td><%= f.text_area :body, autocomplete: "body" %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "投稿" %></td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<script>
  $('#add_btn').on('click', ()=>{
    // 要素をappendで追加し、cloneで複製する
    $("#add_field").append($(".addlist_class").last().clone());
    // ボタンをクリックした時に、画面遷移するのを防ぐ
    return false;
  });
$(document).on("click", ".remove_field", function() {
    // closestはクリックされた要素の最も近い親要素（クラス名が"addlist_class"である要素）を削除する
  $(this).closest(".addlist_class").remove();
});
</script>