<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <table class="table table-borderless">
        <tr>
          <th><%= @recipe.genre.name %></th>
        </tr>
        <tr>
          <td>
            <%= @recipe.created_at.strftime('%Y/%m/%d') %>
            <span class="ml-4"><%= @recipe.member.name %></span>
          </td>
        </tr>
        <tr>
          <td><%= image_tag @recipe.get_image(400,400), class: "recipe-show-img" %></td>
        </tr>
        <tr>
          <th style="font-size:30px; display:flex;">
            <div id="book_mark_btn_<%= @recipe.id %>">
              <!--BookMark-->
              <%= render 'public/book_marks/book_mark', recipe: @recipe %>
            </div>
            <p class="ml-5">
              <%= @recipe.title %>
            </p>
          </th>
        </tr>
        <tr>
          <td>
            <% if current_member == @recipe.member %>
            <%= link_to "編集", edit_recipe_path(@recipe), class: "mr-5" %>
            <%= link_to "削除", recipe_path(@recipe), :style=> "color: #DC143C;", method: :delete, "data-confirm" => "本当に削除しますか？" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-lg-8">
      <table class="table-sm ml-5 mt-5" style="font-size:18px;">
        
        <tr style="font-size:26px;">
          <th>材料</th>
          <th><%= @recipe.share %> 人前</th>
          <th></th>
          <th class="text-right" style="color:red;">
            <% total_cost = 0 %>
            <% @recipe.list_storages.each do |list_storage| %>
              <% total_cost += list_storage.cost %>
            <% end %>
            <% total_cost %>
            1人前 <%= total_cost / @recipe.share %>
          </th>
          <th style="color:red;">円</th>
        </tr>
        
        <% @recipe.list_storages.each do |list_storage| %>
        <tr>
          <td style="width: 40%;"><%= link_to list_storage.list.name, list_path(list_storage.list.id) %></td>
          <td class="text-right" style="width: 20%;"><%= list_storage.quantity %></td>
          <td>kg</td>
          <td class="text-right" style="width: 30%;"><%= list_storage.cost %></td>
          <td>円</td>
        </tr>
        <% end %>
        
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th class="text-right">合計 <%= total_cost %></th>
          <th>円</th>
        </tr>
      </table>
    </div>

    <table class="table my-5">
      <tr>
        <th>作り方</th>
        <td class="text-left"><%= simple_format(@recipe.body) %></td>
      </tr>
    </table>
  </div>

  <div class="row" id="comment" style="position:relative;">
    <!--コメント-->
    <%= render 'public/comments/comment', recipe: @recipe, comment: @comment %>
  </div>
</div>
