<div class="col-8">
  <table class="table table-borderless table-hover">
  <!--コメント数が０件の時にdivを追加して高さを出す。(formがレシピのbodyとかぶるのを防ぐ)-->
  <% if recipe.comments.count != 0 %>

    <% recipe.comments.each do |comment| %>
    <tr>
      <!--check box-->
      <td>
        <%= render 'public/checks/comment_check', comment: comment, recipe: recipe %>
      </td>
      <td><span id="comment_created_at_<%= comment.id %>" class="<%= comment.checked_by?(current_member) ? 'line-through' : '' %>"><%= comment.created_at.strftime('%m/%d')%></span></td>
      <td><span id="comment_member_name_<%= comment.id %>" class="<%= comment.checked_by?(current_member) ? 'line-through' : '' %>"><%= comment.member.name %></span></td>
      <td><span id="comment_body_<%= comment.id %>" class="<%= comment.checked_by?(current_member) ? 'line-through' : '' %>"><%= comment.body %></span></td>
      <td>
        <% if current_member == comment.member %>
          <%= link_to "削除", recipe_comment_path(comment.recipe,comment), method: :delete, remote: true, style: "color: #DC143C;" %>
        <% end %>
      </td>
    </tr>

    <script>
      // コメントのcheckboxをクリックすると取り消し線を表示
      $(function(){
        $('#comment_check_btn_<%= comment.id %>').on('click', function(){

          if ($('#comment_created_at_<%= comment.id %>').hasClass('line-through')) {
            $('#comment_created_at_<%= comment.id %>').removeClass('line-through');
            $('#comment_member_name_<%= comment.id %>').removeClass('line-through');
            $('#comment_body_<%= comment.id %>').removeClass('line-through');
          } else {
            $('#comment_created_at_<%= comment.id %>').addClass('line-through');
            $('#comment_member_name_<%= comment.id %>').addClass('line-through');
            $('#comment_body_<%= comment.id %>').addClass('line-through');
          }

        });
      });
    </script>
    <% end %>

  <%else%>
    <div style="height: 50px;"></div>
  <%end%>

  </table>
</div>

<div class="col-4" style="position:absolute; right:0px; bottom:5px;">
<%= form_with model: [recipe,comment], url:recipe_comments_path(recipe,comment), local: false, class: "form-inline mt-auto d-flex align-items-end", method: :post do |f| %>
  <%= f.text_area :body, rows: '3', placeholder: "コメント" %>
  <%= f.submit "作成" %>
<% end %>
</div>

