<div class="col-8">
      <table class="table table-borderless">
        <% recipe.comments.each do |comment| %>
        <tr>
          <td><%= comment.created_at.strftime('%m/%d')%></td>
          <td><%= comment.member.name %></td>
          <td><%= comment.body %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-4">
      <%= form_with model: [recipe,comment], local: false do |f| %>
        <%= f.text_area :body, rows: '5', placeholder: "コメント" %>
        <%= f.submit "作成" %>
      <% end %>
    </div>