<!--スライドショーの記述-->
<div class="container">
  <ul class="slider">
    <li class="picture my-5"><%= image_tag("food1.jpg") %></li>
    <li class="picture my-5"><%= image_tag("food2.jpg") %></li>
    <li class="picture my-5"><%= image_tag("food3.jpg") %></li>
    <li class="picture my-5"><%= image_tag("food4.jpg") %></li>
    <li class="picture my-5"><%= image_tag("food5.jpg") %></li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div class="mx-auto offset-sm-1">
      <h4 class="text-center my-5">調理師の方が同じ料理を同じ味で<br>
          提供し続けるためのレシピサイト
      </h4>
      <h6 class="mb-3 text-center">
        作る人が変わった時にでも同じ味を提供できるようにしたい！」<br>
        そんな思いからこのサイトを作ろうと考えました。<br>
      </h6>
      <h6 class="mb-5 text-center">
        また、レシピを投稿し保存するだけではなく発注する時に、<br>
        この食材はどこから仕入れていたのだろう？と仕入れ先を探している時間や<br>
        原価率の計算をしている時間を短縮しできるような機能があれば<br>
        より良い料理を作ることができるのではないかとおもいました。<br>
      </h6>
    </div>
  </div>
</div>

<div class="container">
  <ul class="slider">
    <li class="picture my-5"><%= image_tag("food6.jpg") %></li>
    <li class="picture my-5"><%= image_tag("food7.jpg") %></li>
    <li class="picture my-5"><%= image_tag("food8.jpg") %></li>
    <li class="picture my-5"><%= image_tag("food9.jpg") %></li>
    <li class="picture my-5"><%= image_tag("food10.jpg") %></li>
  </ul>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-8/js/6-1-8.js"></script>
</div>