<div class="container">
  <div class="row">
    <div class="mx-auto m-5">
      <h3>ジャンル名編集</h3>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto m-5 text-center">
      <%= form_with model: @genre, url:admin_genre_path(@genre.id), method: :patch, local: true do |f| %>
      <%= f.text_field :name, autofocus: true %>
      <%= f.submit "変更を保存" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto text-center">
      <div class="error"><%= render 'layouts/error', object: @genre %></div>
    </div>
  </div>
  
  <div class="row">
    <div class="mx-auto text-center">
      <div class="back_btn">
        <%= link_to admin_genres_path do %><i class="fas fa-angle-double-left"></i> <span>戻る</span><% end %>
      </div>
    </div>
  </div>
</div>
