<div class="container">
  <div class="row">
    <div class="mx-auto m-5">
      <h3>ジャンル一覧・追加</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 px-sm-0 mx-auto mb-5">
      <%= form_with model: @genre_new, url:admin_genres_path, method: :post, local: true do |f| %>
        <%= f.text_field :name, placeholder: "ジャンル名" %>
        <%= f.submit "新規登録" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 px-sm-0 mx-auto mb-5">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <% @genres.each do |genre| %>
        <tbody>
          <tr>
            <td><%= genre.name %></td>
            <td>
              <% if current_admin.email != 'guest@example.com' %>
                <%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-link" %>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>

      <%= paginate @genres, theme: 'bootstrap-5' %>

    </div>
  </div>
</div>
