<!DOCTYPE html>
<html>
  <head>
    <title>CuiRecette</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/40873ce634.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--スライドショーのレイアウトを制御する独自のCSSを読み込み-->
    <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/reset.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-8/css/6-1-8.css">

  </head>

  <body>
    <%= render 'layouts/header' %>
    <%#= render 'layouts_flash' %>
    <main class="min-vh-100" style="background:#fbfaf3">
      <%= yield %>
    </main>
    <footer class="justify-center" style="background-color:#cc5e58;">
      <div class="container">
        <div class="row">
          <div class="col-3">
          <p>@Cui-Recette</p>
        </div>
        <div class="col-3 ml-auto">
          <div class="logout">
            <% if member_signed_in? %>
            <!--Memberログイン中のみ表示させる-->
              <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: 'nav-link text-white' %>
            <% else %>
            <% end %>
          </div>
        </div>
        </div>
      </div>
    </footer>
  </body>
</html>
